.outerwrapper{
  padding: 0 40px;
}

.dashboard {
  display: flex;
}

.course-selection{

}

.course-selection ul{
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.calendar{
  flex-grow: 2;
  margin-left: 50px;
  margin-right: 50px;
}

.upcoming {

}

.upcoming ul{
  text-align: left;
  list-style: none;
}

.course-selection, .upcoming{
  flex: 1;
}

.courseBullet{
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 8px;
}

.course-selection .courseBullet{
  margin-left: 8px;
}

.completed-assignment{
  opacity: 0.2;
}